        <div id="sidebar">
            <div id="nav-bar">
                <div class="vertical-align">
                    <div id="nav-landing" class="nav-entry"><a href="#landing">HOME</a></div>
                    <div id="nav-about" class="nav-entry"><a href="#about">ABOUT</a></div>
                    <div id="nav-projects" class="nav-entry"><a href="#projects">PROJECTS</a></div>
                    <div id="nav-contact" class="nav-entry"><a href="#contact">CONTACT</a></div>
                    <div id="nav-resume"><a href="resume.pdf" target="_blank" rel="noopener">RESUME</a></div>
                </div>
            </div>
        </div>