/** SASS FOR ABOUT, PROJECT INDEX PAGES */

$body-width: 960px;
$font-size: 1em;
$box-color-1: #41BA9F;

body {
  
  height: 100%;
  width: 100%;

  section.info-page {
    height: 100%;
    width: 100%;
    div.info-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      div.info-flex-wrapper {

        width: 600px;

        h1.page-title {
          text-align: center;
        }
      }
    }
  }
}