/** SASS FOR ABOUT, PROJECT INDEX PAGES */
@import url(https://fonts.googleapis.com/css?family=Lato);
$body-width: 960px;
$font-size: 1em;
$box-color-1: #41BA9F;
$p-letter-space: 0.5;
$p-margin: 20px;

$avenir: 'Avenir', 'Lato', Helvetica, sans-serif;

body {
  
  height: 100%;
  width: 100%;

  section.info-page {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    div.info-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 600px) {
        display: block;
      }
      div.info-flex-wrapper {

        width: 750px;

        @media screen and (max-width: 907px) {
          width: 70%;
        }
        @media screen and (max-width: 600px) {
          width: 86%;
          margin: 40px auto;
        }
        
        div.info-header {
          text-align: center;
          margin-bottom: 80px;
        }

        h1.info-title {
          font-family: $avenir;
          font-size: $font-size*1.5;
          letter-spacing: 0.5px;
        }
        p {          
          font-size: $font-size;
          letter-spacing: $p-letter-space;
          opacity: 0.7;
        }
        p#about-description {
          margin-top: 15px;

        }
        div.about-section {
          margin: 50px 0;

          h3 {
            font-size: $font-size*0.9;
            text-transform: uppercase;
          }

          ul.info-ul {

          }
          p {
            font-size: $font-size*0.8;
            letter-spacing: $p-letter-space;
            opacity: 0.5;
          }
          ul#info-ul {
            margin: $p-margin;
            li {
              margin: 0 $p-margin;
            }
          }
          p.info-text {
            margin: $p-margin;
          }
        }
      }
    }
  }
}