/* SASS for the landing page */

$monospaced: 'Andale Mono', 'Lucida Console', monospace;

$btn-ease-timing: 1s;
$min-desktop-width: 750px;
$font-size: 1em;

$max-width-tb: 1180px;
$max-width-m: 600px;

$project-background: #9666A3;
/* $project-background-d4sd: rgb(68, 150, 255);
$project-background-dopelst: rgb(218, 112, 80);
$project-background-doplst-2: #F2A64A; */

$spacing-var: 40px;


html {
  body {
    height: 100%;
    width: 100%;

    section#landing {
      height: 100%;
      width: 100%;
      text-align: center;

      //background-image: url("/img/background-img.jpg");
      //background-size: cover;

      div#landing-wrapper {
          height: 100%;
          width: 100%;
          
          display: flex;
          align-items: center;
        div#landing-text {
          margin: 0 auto;

          div#logo-border { 
            $logo-spacing-margin: 30px;

            width: 250px;
            margin: $logo-spacing-margin auto;
            padding: 3px 10px;
            background-color: #000;
            h1#landing-logo {
              $letter-spacing: 0.25em;

              margin-right: -$letter-spacing; //letter-spacing
              
              text-align: center;
              
              font-size: $font-size*2;
              font-weight: 500;
              color: #fff;
              letter-spacing: $letter-spacing;
            }
          }
          p#landing-description {
            width: 90%;
            margin: 0 auto;

            font-size: $font-size*0.85;
            letter-spacing: 1px;
            color: #000;

            opacity: 0.6;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }

    section#portfolio {

      height: 100%;

      div.project-wrapper {
        $height-dt: 480px;
        $width-dt: 950px;
        $width-tb: 600px;
        $width-m: 300px;
        height: $height-dt;
        width: $width-dt;
        margin: 10% auto;

        @media screen and (max-width: $max-width-m) {
          margin: 0;
          width: 100%;
          height: auto;
        }

        @media screen and (max-width: $max-width-tb) and (min-width: $max-width-m){
          width: $width-tb;
        }
        div#project-fraction {
          position: relative;
          top: 50%;
          left: 7%;

          span {
            font-family: 'Andale Mono', monospace;
            font-size: $font-size*0.7;
          }
        }

        div.project-box-wrapper-wrapper {    
          height: 100%;    

          div.project-box-wrapper {
            height: 100%;
            width: 100%;

            div.project-box {
              height: 100%;
              width: 100%;

              margin: 0 auto;

              div#project-box-wrap {
                $project-width: 85%;
                height: 100%;
                width: $project-width;
                
                margin: 0 (100-$project-width)/2;

                display: grid;
                grid-template-columns: 4fr 2.5fr 1fr;

                @media screen and (max-width: $max-width-m) {
                  display: inline-block;
                } 

                div#project-content {
                  $middle-margin: 40px;
                  >* {
                    color: #fff;
                  }

                  display: flex;
                  align-items: center;

                  margin-right: $middle-margin;

                  @media screen and (max-width: $max-width-m) {
                    padding: $spacing-var*1.5 0;
                  } 
                  div#project-content-wrap {
                    p.tag {
                      padding: 0;
                      font-family: $monospaced;
                      font-size: $font-size*0.5;
                      letter-spacing: 3px;

                    }
                    h1.project-title {
                      padding-top: 5px;
                    }
                    div.project-button-row {

                      padding: $spacing-var 0;

                      @media screen and (max-width: $max-width-m) {
                        padding-bottom: 0;
                      }
                      a.portfolio-button {
                        margin-right: $spacing-var*0.5;
                        padding: 5px 20px;

                        font-family: $monospaced;
                        font-size: $font-size*0.7;
                        color: #fff;
                        background-color: #000;
                        text-decoration: none;

                        &:hover {
                          color: #000;
                          background-color: #fff;
                          transition: color $btn-ease-timing ease 0s;
                          transition: background-color $btn-ease-timing ease 0s;
                        }

                        @media screen and (max-width: $max-width-tb) {
                          margin-bottom: 10px;
                          display: inline-block;
                        }
                      }
                    }
                  }
                }
                div#project-image {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  @media screen and (max-width: $max-width-m) {
                    display: none;
                  }

                  div.preview-img-wrap {
                    img {
                      max-width: 275px;
                    }
                  }

                }
                p.project-description {
                  font-size: $font-size*0.75;

                  a.p-link {
                    color: #fff;

                    &:hover {
                      opacity: 0.5;
                      transition: opacity 0.75s ease 0s;
                    }
                  }
                }
                div#project-stats {
               
                  height: 100%;
                  
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  color: #fff;
                  @media screen and (max-width: $max-width-m) {
                    width: 100%;
                    display: inline-block;
                    color: #000;
                    opacity: 0.45;

                    display: none; //remove later
                  } 
                  div#project-stats-wrapper {
      
                    @media screen and (max-width: $max-width-m) {
                      width: 80%;
                      display: flex;
                      justify-content: space-between;
                    } 
                    div.project-stat-group {
                      text-align: center;

                      @media screen and (max-width: $max-width-m) {
                        text-align: left;
                      }
                      h5 {
                        font-size: $font-size*0.6;
                        letter-spacing: 2px;
                      }
                      div.stat-details {
                        padding-top: $font-size*0.2;
                      
                        p {
                          padding-bottom: $font-size*0.2;
                          font-size: $font-size*0.65;
                          font-weight: 400;
                          letter-spacing: 0.2px;
                          opacity: 0.8;
                        }
                      }
                    }

                    div.project-stat-group.project-stat-notlast {
                      padding-bottom: $spacing-var;
                      @media screen and (min-width: $max-width-m) {
                        padding-bottom: 55px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      position: relative;
      bottom: 0;
      color: #000;
    }
  }
}


//DESKTOP SASS
@media screen and (min-width : 500px) {
  html {
    body {
      section#landing {
        div#landing-wrapper {
          div#landing-text {
            p#landing-description {
              width: 60%;
              margin: 0 auto;
            }
          }

        }
      }
    }
  }
}