@import 'bourbon/bourbon';

html, 
body {
    width: 100%;
    height: 100%;
}





@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}



/*// REUSABLE STUFF//*/
@mixin v-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}


/*// VARIABLES //*/
$portMargin: 2.5%;



/*// SIDEBAR //*/

#sidebar {
    position: static;
    float: right;
    width: 20%;
    height: 100%;
    background-color: white;
    z-index: 100;

}

#sidebar .nav-entry:hover, #nav-resume:hover {
    opacity: 0.5;
}

#nav-bar {
    width: 15%;
    position: fixed;
    height: 100%;
    padding-left: 20px;

    .vertical-align {
        position: absolute;
        @include v-center;
    }
}

.nav-entry, #nav-resume {
    padding-bottom: 10px;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.nav-entry a, #nav-resume a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


/*// ALL PAGES //*/

#contact {
    background-color: #000;
    display: block;
    position: relative;
    width: 80%;
    height: 50%;
       .page-titles {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 5%;

            h2 {
                font-family: 'Abel', sans-serif;
                color: #fff;
                font-size: 30px;
                padding-top: 10px;

            }

        }
}

#landing, #about, #projects, #project-page {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;

    .page-titles {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 5%;

            h2 {
                font-family: 'Abel', sans-serif;
                font-size: 30px;
                padding-top: 10px;

            }
        
    }
}

/*// LANDING //*/
#landing {
    

    #landing-text {
        position: relative;
        top: 15%;
        left: 10%;
        #landing-name {
            color: #fff;
            font-size: 60px;
            font-family: 'Abel', sans-serif;
        }
        #landing-description {
            color: #fff;
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
        }
    }


    #landing-rocket-svg {
        position: absolute;
        top: 30%;
        left: 58%;
        @include transform(translateX(-50%) translateY(-50%) rotate(12deg));
        z-index: 2;

        width: 25%;
        height: 25%;

        svg {
            display: block;
            margin: 0 auto;

            @include v-center;

            max-width: 100%;
            max-height: 100%;
        }
    } 
    #landing-planet-svg {
        position: absolute;
        top: 60%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%) rotate(-20deg));
        display: block;

        width: 50%;
        height: 50%;

        svg {
            display: block;
            margin: 0 auto;

            @include v-center;

            max-width: 100%;
            max-height: 100%;
        }
    }


    #stars, #twinkling {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display:block;
    }

    #stars {
        background: #000 url("/img/landing-stars.png") repeat top center;
        z-index: -2;
    }

    #twinkling {
        background: transparent url("/img/landing-twinkling.png") repeat top center;
        z-index: -1;
        animation:move-twink-back 200s linear infinite;
    }
}

@keyframes move-twink-back {
    from{background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

/*// ABOUT //*/
#about {

    .about-wrapper {
        margin: 0 auto;
        display: block;

        width: 65%;
        height: 100%;

        .about-content {
            display: inline-block;
        }

        .about-image-wrapper {
            width: 30%;
            height: 100%;

            padding-right: 20px;

            .about-image {
                @include v-center;

                svg { 
                    display: block;
                    margin: 0 auto;

                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .about-text-wrapper {
            width: 65%;
            height: 100%;

            vertical-align: top;

            .about-text {
                @include v-center;
                #about-head {
                    font-family: 'Bungee Hairline', sans-serif;
                    font-weight: 800;
                    font-size: 30px;
                }
                p, #about-title, .about-line {
                    font-family: "Roboto", sans-serif;
                }
                .about-line {
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
                    color: rgb(61,95,167);
                    
                    &:hover {
                        color: rgb(165,191,226);
                    }
                }


            }
        }


        .about-lead {
            font-weight: bold;
        }

    }

}


/*// PROJECTS //*/

#projects {
    .project-wrapper {
        position: relative;
        height: 100%;
        width: 80%;
        margin: 0 auto;

        ul.grid {
            height: 100%;
            list-style: none;
            font-size: 0px;

            margin-left: -2.5%;
            padding-left: 0;
            position: relative;
            
            #project-grid-wrapper {
                position: fixed;
                @include v-center;
                    margin-left: 10%;
                    margin-right: 10%;

            
                li {
                    position: relative;

                    max-height: 40%;

                    display: inline-block;
                    margin: 0 0 $portMargin $portMargin;
                    background: #fff;
                    font-size: 16px;
                    font-size: 1rem;

                    .project-element {
                        position: relative;
                        display: block;
                        height: 100%;

                        .projects-image {
                        height: 100%;
                        position: relative;
                        font-size: 0;

                            img {
                                max-width: 100%;
                                box-shadow: 0 0 5px 2px rgba(209, 209, 209, 0.5);
                                z-index: -1;
                            }

                            .overlay {
                                display: block;
                                position: absolute;
                                background-color: rgba(0, 0, 0, 0.75);
                                height: 100%;
                                width: 100%;
                                visibility: hidden;

                            }

                        }

                        .projects-description {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                            visibility: hidden;

                            .projects-description-wrapper {
                            text-align: center;

                            @include v-center;

                                h5 {
                                    margin: 0 0 5px;
                                    top: 0;
                                    color: #fff;
                                    font-family: "Montserrat", sans-serif;
                                }

                                p {
                                    font-size: .9em;
                                    line-height: 1.5em;
                                    color: rgb(201,201,201);
                                    font-family: "Kanit", sans-serif;
                                    margin: 0 10%;
                                    padding: 5% 0;
                                }

                                .project-button {
                                    input {
                                        background-color: transparent;
                                        color: #fff;
                                        border-style: solid;
                                        border-width: 2px;
                                        border-color: white;
                                        padding: 5px 20px;
                                        text-transform: uppercase;
                                        font-weight: 700;
                                        font-size: 10px;

                                    }

                                    &:hover input {
                                        background-color: #fff;
                                        color: #000;
                                        transition-timing-function: ease-out;
                                        transition: 0.4s;

                                    }
                                    
                                }

                            }
                        
                        }
                        &:hover .overlay {
                            visibility: visible;
                                                     
                        }

                        &:hover .projects-description {
                            visibility: visible;
                            transition: ease-out 0.4s;  

                        }
                    }
                }
            }
        }
        .columns-1 {
            li {
                width: (100-2.5)*1%;
            }
        }

        .columns-2 {
            li {
                width: ((100/2)-2.5)*1%;
            }

        }

        .columns-3 {
            li {
                width: ((100/3)-2.5)*1%;
            }

        }

        

    }

}

@media (max-width: 480px) {
    ul.grid {
        margin-left: 0;
    }
    ul.grid li {
        width: 100% !important;
        margin: 0 0 20px;
    }
}

/*// CONTACT //*/
#contact {
    position: relative;
}

#contact-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

#contact-icons {
    float: right;
}

#contact-icons i {
    padding-right: 5px;
    padding-bottom: 10px;
}

#contact-icons i:hover {
    opacity: 0.5;
}

#contact-content input,
#contact-content textarea {
    width: 500px;
    margin-bottom: 10px;
    border: 0;
    background-color: rgb(239, 239, 239);
    padding: 10px;

}


#contact-content ::-webkit-input-placeholder {
   font-size: 12px;
   color: rgb(130, 130, 130);
}

#contact-content :-moz-placeholder { /* Firefox 18- */
   font-size: 12px;
}

#contact-content ::-moz-placeholder {  /* Firefox 19+ */
   font-size: 12px;  
}

#contact-content :-ms-input-placeholder {  
   font-size: 12px;
}

#contact-submit {
    float: right;
    background-color: rgb(61,95,167);
    border: 0;
    padding: 10px 20px;

    &:hover {
        background-color: rgb(165,191,226);
        transition: ease-out 1s;
    }
}

#contact-icons a { 
    padding: 0 10px;
}



input[type=submit] {
    font-size: 12px;
    color: white;
}


/*// PROJECT PAGE //*/

#project-page {

}



#page-image img {
    width: 300px;
    float: left;
}

#page-content {
    width: 70%;
}

.page-text {
    margin-bottom: 10px;
}

#page-content button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 11px;
}

#page-content button:hover {
    background-color: white;
    color: black;
}

#page-subtitle {
    font-size: 12px;
    padding-bottom: 10px;
    opacity: 0.65;
}








