$hover-color: #9EDF6E;
$fjalla-one: 'Fjalla One', 'Futura Condensed', sans-serif;
$navbar-size: 0.7em;
$navbar-padding: 30px;

$max-width-m: 600px;

* {
  margin: 0;
  padding: 0;
}

nav {
  /** CHANGE LATER **/
  @media screen and (max-width: $max-width-m) {
    display: none;
  }
  position: fixed;
  transform: rotate(90deg);
  top: 50%;
  right: -5%;

  div#nav-items {
    display: flex;
    justify-content: space-between;
    align-content: center;
    a#logo {
      margin-right: $navbar-padding*2;
      img {
        width: 100px;
      }

      &:hover {
        opacity: 0.5;
        transition: opacity 0.5s ease 0s;
      }
    }
    a.side-nav {
      margin-right: $navbar-padding;
      color: #000;
      text-decoration: none;
      font-family: 'Andale Mono';
      font-weight: 300px;
      font-size: $navbar-size;

      &:hover {
        color: $hover-color;
        transition: color 0.5s ease 0s;
      }
    }
  }

}