<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lauren Liu</title>
	<link rel="stylesheet" href="/css/portfolio.min.css" />
  <link rel="stylesheet" href="/css/landing.min.css" />
  <link rel="stylesheet" href="/css/nav.min.css" />
  <link rel="stylesheet" href="/css/variables.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <nav>
    <div id="nav-items">
      <a id="logo" class="side-nav" href="/"><img src="/hq/logo-b.png"></a>
      <a class="side-nav" href="#portfolio-link">portfolio</a>
      <a class="side-nav" href="./resume.pdf" target="_blank" rel="noopener noreferrer">resume</a>
    </div><!-- #nav-items -->
  </nav>
  <section id="landing">
    <div id="landing-wrapper">
      <div id="landing-text">
        <div id="logo-border">
          <img id="landing-logo" class="page-title"src="/hq/logo.png">
        </div><!-- #logo-border -->
        <p id="landing-description"><span>web developer &amp; designer</span> currently working towards her BS in Computer Science and minor in Design at University of California, San Diego</p>
      </div><!--landing-text-->
    </div><!--landing-wrapper-->
    <div id="portfolio-link" class="bottom-link">
      <a id="landing-link" class="expand-text" href="/#portfolio-link">[ PORTFOLIO ]</a>
    </div><!--bottom-link-->
  </section><!-- #landing -->
  <section id="portfolio">

    {{#each projects}}
      <div class="project-wrapper">
        <div class="project-box-wrapper-wrapper">
          <div class="project-box-wrapper">
            <div id={{bkgClass}} class="project-box">
              <div id="project-box-wrap">
                <div id="project-content">
                  <div id="project-content-wrap">
                    <p class="tag">{{tag}}</p><!-- .tag -->
                    <h1 class="project-title">{{projectTitle}}</h1>
                    <p class="project-description">&mdash; {{projectDesc}}</p>
                    <div class="project-button-row">
                      {{#if infoPath}}
                        <a class="portfolio-button" href="/project/{{bkgClass}}">MORE INFO</a>
                      {{/if}}
                      {{#if comingSoon}}
                        <a id="no-link" class="portfolio-button">DETAILS COMING SOON</a>
                      {{/if}}
                      {{#if siteLink}}
                        {{#unless altProdTitle}}
                          <a class="portfolio-button" href={{siteLink}} target="_blank" rel="noopener noreferrer">SITE LINK</a>
                        {{else}}
                          <a class="portfolio-button" href={{siteLink}} target="_blank" rel="noopener noreferrer">{{altProdTitle}}</a>
                        {{/unless}}
                      {{/if}}
                    </div><!--project-button-row-->
                  </div><!-- #project-content-wrap -->
                </div><!-- .project-content -->
                <div id="project-image">
                  <div class="preview-img-wrap">
                    <img src={{imgPath}} alt={{projectTitle}} />
                  </div>
                </div><!-- .project-image -->
                <div id="project-stats">
                  <div id="project-stats-wrapper">
                    <div class="project-stat-group project-stat-notlast">
                      <h5>ROLES</h5>
                      <div class="stat-details">
                        {{#each roles}}
                          <p>{{this}}</p>
                        {{/each}}
                      </div><!-- .stat-details -->
                    </div><!-- .project-stat-group -->
                    <div class="project-stat-group project-stat-notlast">
                      <h5>YEAR</h5>
                      <div class="stat-details">
                        <p>{{year}}</p>
                      </div><!-- .stat-details -->
                    </div><!-- .project-stat-group -->
                    <div class="project-stat-group">
                      <h5>TYPE</h5>
                      <div class="stat-details">
                        <p>{{type}}</p>
                      </div><!-- .stat-details -->
                    </div><!-- .project-stat-group -->
                  </div><!-- #project-stats-wrapper -->
                </div><!-- #project-stats -->
              </div><!-- #project-box-wrap -->
            </div><!-- .project -->
          </div><!-- .project-wrapper -->
        </div><!-- .project-box-wrapper-wrapper -->
      </div><!-- .project-wrapper -->
    {{/each}}


  </section><!-- #portfolio -->
  <!--<footer>
    <p>designed and built with love, tears, and caffine by Lauren Liu</p>
  </footer>-->
</body>
</html>