<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lauren Liu</title>
	<link rel="stylesheet" href="/css/portfolio.min.css" />
  <link rel="stylesheet" href="/css/landing.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav>
    <a class="side-nav" href="/about">about</a>
    <a class="side-nav" href="/project-index">index</a>
    <a class="side-nav" href="#portfolio">portfolio</a>
    <a class="side-nav" href="/resume.pdf">resume</a>
  </nav>
  <section id="landing">
    <div id="landing-wrapper">
      <div id="landing-text">
        <div id="logo-border">
          <h1 id="landing-logo" class="page-title">LAUREN LIU</h1>
        </div><!-- #logo-border -->
        <p id="landing-description"><span>Web developer &amp; designer</span> currently working towards my BS in Computer Science and minor in Design at University of California, San Diego.</p>
      </div><!--landing-text-->
    </div><!--landing-wrapper-->
    <div class="bottom-link">
      <a href="/#portfolio">[ PORTFOLIO ]</a>
    </div><!--bottom-link-->
  </section><!-- #landing -->
  <section id="portfolio">

    <div class="project-wrapper">
      <div id="project-fraction">
        <span>1/10</span>
      </div><!-- .project-fraction -->
      <div class="project-box-wrapper-wrapper">
        <div class="project-box-wrapper">
          <div class="project-box">
            <div id="project-content">
              <h1 class="project-title">Example Project</h1>
              <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus semper tortor, eu pellentesque est lacinia sodales.</p>
              <div class="project-button-row">
                <a class="portfolio-button" href="">MORE INFO</a>
                <a class="portfolio-button" href="">SITE LINK</a>
              </div><!--project-button-row-->
            </div><!-- .project-content -->
            <div id="project-image">
              <img src="/img/preview-frank.png" alt="name" />
            </div><!-- .project-image -->
            <div id="project-stats">
              <div id="project-stats-wrapper">
                <div class="project-stat-group project-stat-notlast">
                  <h5>ROLE</h5>
                  <p>Designer</p>
                </div><!-- .project-stat-group -->
                <div class="project-stat-group project-stat-notlast">
                  <h5>YEAR</h5>
                  <p>2015</p>
                </div><!-- .project-stat-group -->
                <div class="project-stat-group">
                  <h5>TYPE</h5>
                  <p>Mobile Web</p>
                </div><!-- .project-stat-group -->
              </div><!-- #project-stats-wrapper -->
            </div><!-- #project-stats -->
          </div><!-- .project -->
        </div><!-- .project-wrapper -->
      </div><!-- .project-box-wrapper-wrapper -->
    </div><!-- .project-wrapper -->

    <div class="project-wrapper">
      <div id="project-fraction">
        <span>2/10</span>
      </div><!-- .project-fraction -->
      <div class="project-box-wrapper-wrapper">
        <div class="project-box-wrapper">
          <div class="project-box">
            <div id="project-content">
              <h1 class="project-title">Example Project</h1>
              <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus semper tortor, eu pellentesque est lacinia sodales.</p>
              <div class="project-button-row">
                <a class="portfolio-button" href="">MORE INFO</a>
                <a class="portfolio-button" href="">SITE LINK</a>
              </div><!--project-button-row-->
            </div><!-- .project-content -->
            <div id="project-image">
              <img src="/img/preview-frank.png" alt="name" />
            </div><!-- .project-image -->
            <div id="project-stats">
              <div id="project-stats-wrapper">
                <div class="project-stat-group project-stat-notlast">
                  <h5>ROLE</h5>
                  <p>Designer</p>
                </div><!-- .project-stat-group -->
                <div class="project-stat-group project-stat-notlast">
                  <h5>YEAR</h5>
                  <p>2015</p>
                </div><!-- .project-stat-group -->
                <div class="project-stat-group">
                  <h5>TYPE</h5>
                  <p>Mobile Web</p>
                </div><!-- .project-stat-group -->
              </div><!-- #project-stats-wrapper -->
            </div><!-- #project-stats -->
          </div><!-- .project -->
        </div><!-- .project-wrapper -->
      </div><!-- .project-box-wrapper-wrapper -->
    </div><!-- .project-wrapper -->

    <div class="project-wrapper">
      <div id="project-fraction">
        <span>3/10</span>
      </div><!-- .project-fraction -->
      <div class="project-box-wrapper-wrapper">
        <div class="project-box-wrapper">
          <div class="project-box">
            <div id="project-content">
              <h1 class="project-title">Example Project</h1>
              <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus semper tortor, eu pellentesque est lacinia sodales.</p>
              <div class="project-button-row">
                <a class="portfolio-button" href="">MORE INFO</a>
                <a class="portfolio-button" href="">SITE LINK</a>
              </div><!--project-button-row-->
            </div><!-- .project-content -->
            <div id="project-image">
              <img src="/img/preview-frank.png" alt="name" />
            </div><!-- .project-image -->
            <div id="project-stats">
              <div id="project-stats-wrapper">
                <div class="project-stat-group project-stat-notlast">
                  <h5>ROLE</h5>
                  <p>Designer</p>
                </div><!-- .project-stat-group -->
                <div class="project-stat-group project-stat-notlast">
                  <h5>YEAR</h5>
                  <p>2015</p>
                </div><!-- .project-stat-group -->
                <div class="project-stat-group">
                  <h5>TYPE</h5>
                  <p>Mobile Web</p>
                </div><!-- .project-stat-group -->
              </div><!-- #project-stats-wrapper -->
            </div><!-- #project-stats -->
          </div><!-- .project -->
        </div><!-- .project-wrapper -->
      </div><!-- .project-box-wrapper-wrapper -->
    </div><!-- .project-wrapper -->

  </section><!-- #portfolio -->
</body>
</html>