<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lauren Liu</title>
  <link rel="stylesheet" href="/css/portfolio.min.css" />
  <link rel="stylesheet" href="/css/project.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <section class="project">
    <div class="left-side">
      <div id="left-side-content">
        <div id="proj-link">
          <a id="project-back-link" href="/#{{bkgClass}}">&laquo; back to portfolio</a>
        </div><!-- #proj-link.left-element -->
        <div id="left-side-flex">
          <div id="left-side-flex-vert-align">
            <div id="left-side-flex-wrap">
              <div id="proj-img" class="left-element">
                <div class="l-elem-flex-wrap">
                  <img src={{leftImgPath}} alt={{projectTitle}} />
                </div><!-- .l-elem-flex-wrap -->
              </div><!-- #proj-img.left-element -->
              <br />
              <div id="proj-btn" class="left-element">
                <div class="l-elem-flex-wrap">
                  <a id="project-visit-site" href="https://frank-app.herokuapp.com/" target="_blank" rel="noopener noreferrer">Visit Site</a>
                </div><!-- .l-elem-flex-wrap -->
              </div><!-- #proj-btn.left-element -->
            </div><!-- #left-side-flex-wrap -->  
          </div><!-- #left-side-flex-vert-align -->
        </div><!-- #left-side-flex -->
      </div><!-- #left-side-content -->
    </div><!-- .left-side -->

    <div class="right-side">
      <div class="details-year-wrapper">
        <p class="details-year">{{year}}</p>
      </div><!-- .details-year-wrapper -->
      <div id="details-header" class="project-section">
        <h1>{{projectTitle}}</h1>
        <p id="details-labels">{{detLabels}}</p>
        <p id="details-description">{{detDescr}}</p>
      </div><!-- #details-header -->


      <div id="details-expanded">
        {{#if atAGlance}}
          <div id="at-a-glance" class="project-section">
            <h2 class="details-expanded-header">At a Glance &mdash;</h2>
            <ul id="glance-ul">
              {{#each atAGlance}}
                <li class="glance-li">
                  <p>
                    <span class="glance-category">{{glanceTitle}}: </span>
                    {{glanceDet}}
                  </p>
                </li>
              {{/each}}
            </ul>
          </div><!-- #at-a-glance -->
        {{/if}}

        {{#if moreDet}}
          <div id="more-details" class="project-section">
            <h2 class="details-expanded-header">A More Detailed Look &mdash;</h2>
            
            {{#each moreDet}}
              <div id="the-goal" class="detail-section">
                <h3>{{moreDetTitle}}</h3>
                {{#if moreDetImgPath}}
                  <img class="section-img" src={{moreDetImgPath}} alt="hi" />
                {{/if}}
                {{#each moreDetContent}}
                  <p>{{this}}</p>
                {{/each}}
              </div><!-- .detail-section -->
            {{/each}}

          </div><!-- #more-details -->
        {{/if}}
      </div><!-- #details-expanded -->

    </div><!-- .right-side -->
  </section>

</body>
</html>