<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lauren Liu</title>
  <link rel="stylesheet" href="/css/portfolio.min.css" />
  <link rel="stylesheet" href="/css/project.min.css" />
</head>
<body>

  <section class="project">
    <div class="left-side">
      <div id="left-side-content">
        <div id="proj-link" class="left-element">
          <a id="project-back-link" href="/#portfolio">&laquo; back to main</a>
        </div><!-- #proj-link.left-element -->
        <div id="proj-img" class="left-element">
          <img src="/img/preview-frank.png" alt="project name" />
        </div><!-- #proj-img.left-element -->
        <div id="proj-btn" class="left-element">
          <a id="project-visit-site" href="" target="_blank" ref="noopener noreferrer">Visit Site</a>
        </div><!-- #proj-btn.left-element -->
      </div><!-- #left-side-content -->
    </div><!-- .left-side -->

    <div class="right-side">
      <p class="details-year">2015</p>
      <div id="details-header">
        <h1>Example Project</h1>
        <p>DETAILS FUN DETAILS</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Mauris rhoncus semper tortor, eu pellentesque est lacinia sodales.</p>
      </div><!-- #details-header -->

      <div id="at-a-glance">
        <h2>At a Glance &mdash;</h2>
        <ul id="glance-ul">
          <li>
            <span class="glance-category">Tech Used: </span>
            <span>x, y, z</span>
          </li>
          <li>
            <span class="glance-category">Lesson(s) Learned: </span>
            <span>low latency is king, and it’s hard to have it all. tradeoffs in site speed are usually made at the expense of code complexity or aesthetics. also dropshadows and google fonts? suprisingly expensive.</span>
          </li>
          <li>
            <span class="glance-category">Tech Used:</span>
            <span>x, y, z</span>
          </li>
      </div><!-- #at-a-glance -->

      <div id="more-details">
        <h2>A More Detailed Look &mdash;</h2>
        
        <div id="the-goal" class="detail-section">
          <h3>The Goal</h3>
          <p>Lorem Khaled Ipsum is a major key to success. We don’t see them, we will never see them. To succeed you must believe. When you believe, you will succeed. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.</p>
        </div><!-- .detail-section -->

        <div id="the-process" class="detail-section">
          <h3>The Process</h3>
          <p>Lorem Khaled Ipsum is a major key to success. We don’t see them, we will never see them. To succeed you must believe. When you believe, you will succeed. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.</p>
        </div><!-- .detail-section -->

        <div id="the-takeaway" class="detail-section">
          <h3>The Takeaway</h3>
          <p>Lorem Khaled Ipsum is a major key to success. We don’t see them, we will never see them. To succeed you must believe. When you believe, you will succeed. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Surround yourself with angels. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.</p>
        </div><!-- .detail-section -->

      </div><!-- #more-details -->

    </div><!-- .right-side -->
  </section>

</body>
</html>