<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lauren Liu</title>
  <link rel="stylesheet" href="/css/portfolio.min.css" />
  <link rel="stylesheet" href="/css/informational.min.css" />
</head>
<body>
  <section class="info-page">
    <h1 class="page-title">Project Index.</h1>
    <div class="project-index-wrapper">
      <div class="project-index-section">
        <div class="pi-header-box">
          <h3 class="pi-header">DEVELOPMENT &amp; DESIGN</h3>
        </div>
        <div class="pi-links">
          <ul>
            <li><a href="">Personal Portfolio</a></li>
            <li><a href="">Design 4 San Diego</a></li>
            <li><a href="">dopeLst</a></li>
            <li><a href="">Frank</a></li>
          <ul>
        </div><!--.pi-links--> 
      </div><!-- .project-index-section-->

      <div class="project-index-section">
        <div class="pi-header-box">
          <h3 class="pi-header">DEVELOPMENT ONLY</h3>
        </div>
        <div class="pi-links">
          <ul>
            <li><a href="">Personal Portfolio</a></li>
            <li><a href="">Design 4 San Diego</a></li>
            <li><a href="">dopeLst</a></li>
            <li><a href="">Frank</a></li>
          <ul>
        </div><!--.pi-links--> 
      </div><!-- .project-index-section-->

      <div class="project-index-section">
        <div class="pi-header-box">
          <h3 class="pi-header">DESIGN ONLY</h3>
        </div>
        <div class="pi-links">
          <ul>
            <li><a href="">Personal Portfolio</a></li>
            <li><a href="">Design 4 San Diego</a></li>
            <li><a href="">dopeLst</a></li>
            <li><a href="">Frank</a></li>
          <ul>
        </div><!--.pi-links--> 
      </div><!-- .project-index-section-->
    </div><!--.project-index-wrapper-->

  </section><!--info-page-->

  <div class="bottom-link">
    <a href="/#portfolio">[ VIEW ALL ]</a>
  </div>
</body>
</html>